/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
/*именно для этого создал ресет сиссс чтобы обнулить все дефолтные стили у всех эллементов*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; /*обнуление margin: 0;
	padding: 0;
	border: 0; */
}
/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* lato-regular - latin */
@font-face {
    /*font-display: swap; - закоментировал это так как у него нет*/ /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato'; /*swap — мнговенная отрисовка подменного шрифта и бесконечный период для замены на 
    подгружаемый шрифт.*/
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), /*Lato-Regular у него с тире здесь нет ставлю тире*/
         url('../fonts/lato-v15-latin-regular.woff2') format('woff2'), /*у него v15  у меня v23 стояло - ниже тоже самое делаю*/ /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v15-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    /*font-display: swap; - закоментировал это так как у него нет*/ /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato Bold'),
         url('../fonts/lato-v15-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v15-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    /*font-display: swap; - закоментировал это так как у него нет*/ /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato Black'),
         url('../fonts/lato-v15-latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v15-latin-900.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


html {
    box-sizing: border-box; /*box-sizing: - своиство которое отвечает за модель расчета размера блока. . border-box говорит браузеру учитывать любые границы и внутренние отступы в значениях, которые вы указываете в ширине и высоте элемента. я так понимаю резет что бы не действовал когда я ставлю какие то своиства*/
}/*"лучше все проекты создавать с бокс сайзинг бордер бокс т.е переводить их в это состояние box-sizing: border-box;"*/
*, *::before, *::after { /**, *ставим ::before, и *::after у всех эллементов что будет более производительно через html {
    box-sizing: border-box;*, *::before, *::after чем удалить html и просто написать для всех эллементов бокс сайзинг бордер бокс*/
    box-sizing: inherit; /* inherit; sнаследовать от родителя в данном случае они будут наследоваться от html box-sizing: border-box; 'это делается для того что бы блок не изменил параметры своей геометрии и пайдинги были внурь блока а не наружу */
}
.bady {
    font-family: 'lato';
    font-style: normal;
    font-size: 16px; /*"размер шрифта"*/
    line-height: 1.2; /*устанавливает величину пространства между строками, например в тексте. В блочных элементах оно указывает минимальную высоту блоков строк внутри элемента*/
    font-weight: normal;/*устанавливает начертание шрифта. Некоторые шрифты доступны только в нормальном или полужирном начертании*/
    color: #0D2039; /*цвет текста черный - все настройки бади делаются что бы если клиент захочет внести изменения они были уже подвержены этому коду что бы не придумывать что т оеще цвет., шрифт растояние между словами итд*/
}
.img {
    max-width: 100%; /* это для того что бы изображение никогда  не привышало размер контейнера в котором он находится */
    height: auto; /*т.е чтоб оно всегда  сжималось в пропорционально по высоте*/
}
.wrapper { /*.wrapper обверта для того что бы вданном случае было все в одном блоке и края данных не выходили за обозначеную рамку .wrapperом*/
    max-width: 1060px;/*блок будет всегда ограничеваться заданной максимальной шириной в 1060px*/
    margin: 0 auto;/*существует множество вариантов как выровнить блок по центру - но мы используем сечас: margin: 0 auto; и данное своиство всегда будет выравнивать наш .wrapper внутри его родителя по центру*/
    padding: 0 45px;
}
.wrapper-full {
    max-width: 1262px; /*в это для пяти карточек и для всего ниже контента до видео - видео чуть шире в 4м видео говорится на 28.18 сек*/
    margin: 0 auto; /*в margin:0 auto верхнее/нижнее поле равно 0, а левое/правое-auto, где auto означает, что левоея и правое поле автоматически устанавливается браузером на основе контейнера, чтобы сделать элемент центрированным.*/
    padding: 0 15px;
    border: solid red 1px;
}
.section-title {
   font-weight: 500;
   font-size: 35px;
   line-height: 42px;
   position: relative;/*абсалютно позицианируем на его родителя на .section-title  нижний прочерк при помощи псевдо эллемента*/
   padding-bottom: 10px;
}
.section-title::after{ /*псевдо эллемент отвечающий у нас за линию как я понял after - добовляет псевдоэллемент*/
     display: block;
     content: ''; /*content: ''; обязательно должен присутствовать иначе псевдо эллемент не появится на странице*/
     /*padding-bottom: 10px;*/
     width: 253px;
     height: 3px;
     background-color: #006DFE; /*Сокращённое CSS свойство background устанавливает сразу все свойства стиля фона, такие как цвет, изображение, источник и размер*/
     position: absolute; /*<section class="intro"> теперь на весь экран*/
     bottom: 0;
     left: 0px;
}

/*header style starts*/

.header {
    position: fixed; /*зафиксировали хедер и перестает учавствовать в соновном потоке документа и как бы не занимает пространство в нем*/
    top: 0;/*прибили хедер к верхней части*/
    left: 0; /*означает, что мы выровнили по левой части экрана*/
    width: 100%;/*что бы хедер всегда занимал 100% ширины экрана*/
    transition: .2s linear; 
    padding-bottom: 25px;
    z-index: 999; /*z-index: 999; позволяет сделать, хедер поверх всего остального*/
}
.header_active{
    background: #0E1D28;
}
.header__wrapper {
    display: flex;
    flex-wrap: wrap; /*Свойство flex-wrap указывает, следует ли флексам располагаться в одну строку или можно занять несколько строк. Если перенос строк допускается, то свойство также позволяет контролировать направление, в котором выкладываются строки, а добавочное "wrap" - flex-wrap: "wrap". flex-элементы будут перенесены, если это необходимо. а nowrap - будет умещено в одну строку.*/ 
    align-items: flex-end;/*вертикальное выравнивание по нижнему*/
    justify-content: space-between;/*развести по краям*/
    padding-top: 20px;/**/
}
.header__list {
    display: flex;/*делает контейнер гибкий другими своиствами флекс уже регулируем*/
    flex-wrap: wrap;
}
.header__item {
    margin-right: 82px;/*отступа справо 82px*/
}
.header__item:last-child {
    margin-right: 0;/*обнуление отступа у последнего дочернего эллемента Sign in - прописываем last-child означет последний дочерний эллемент внутри нашего списка ul,li и у него мы обунляем марджин райт просто пишем margin-right: 0;*/
}
.header__link {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}
.header__link:hover, /*состояние для наведения ссылок указывается при помощи псевдо класса ховер по этому мы прописываем .header__link:hover, линк это сам тексст ссылка в хедере*/
.header__link:focus, /*так же делаем чтоб не только при наведение менялось состояние ну и при фокусе нажатие смещение табом. */
.header__link:active{ /*и псевдо класс active деляем что бы ссылки были активны  когда по ним кликнут */
    opacity: .75;/*точка 75 и 0.75 означает одно и тоже в css - уровень прозрачности отсвета при клике чем меньше число тем темнее */
}

.header__burger {
    width: 40px;
    height: 28px;
    position: relative; /*Свойство position позволяет сдвигать элемент со своего обычного места*/
    display: none;/*позволяет скрыть эллемент в данном случае что бы на десктопной версии сайта не высвечивалось меню в три линии - а только когда страница начинает адаптироваться под выставленную величину*/
}

.burger__line{
    display: block; /*спен по умолчанию строчный эллемент по этому пишем блок чтоб стилизовать*/
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute; /* position:absolute размер блока устанавливается по содержимому, то широкий Заголовок «съёжился» до прямоугольника в углу.*/
    left: 0;
}

.burger__line_first {
    top: 0;
}

.burger__line_second {
    top: 50%;
    transform: translateY(-50%) /*делаем серединную линию по центру*/
}

.burger__line_third {
    bottom: 0;
}

/*header style end*/



/*intro style starts*/

.intro {
    min-height: 100vh; /*задаем высату равную 100% процентам высоты экрана это делается при помощи единиц vh сохраняем и смотрим инспекторе что занимает всю площадь экрана даже хедер - если в блок добавят например 10 строк то он сдвинется так как есть ограничение по ысоте и для этого пишется min. */
    background: url(../img/intro-bg.jpg) no-repeat center; /*no-repeat чтоб картинка не повторялась если она не займет все пространства в унутри блока то она начнет, center ставит ее по центру */
    background-size: cover; /* говорит что картинка будет при любых размерах закрывать все пространство*/
    padding-top: 263px;
    padding-bottom: 223px;
}
.intro__title {
    max-width: 619px;  /* максимальная ширина 619px */
    font-weight: 500;  /*устанавливает начертание шрифта*/
    font-size: 50px; /*определяет размер шрифта*/
    line-height: 60px; /* устанавливает величину пространства между строками, например в тексте.*/
    color: white; 
    margin-bottom: 22px;
}
.intro__subtitle { /*работа с обзацем текстом*/
    max-width: 546px;
    color: white;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 59px;
    
}
.search-form__info {
    display: flex;
    flex-wrap: wrap;
}
.search-form__field {
    width: 297px; /*сделал ширину инпутов при рисайзе что бы плейс холдер не сжимался*/
    background: transparent url(../img/svg/Oval.svg) no-repeat left 6px;/* картинка не повторяется - овал в лево по центру*/
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5; 
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color: white;
}
.search-form__field::placeholder {
    font-weight: 500; /*устанавливает начертание шрифта. Некоторые шрифты доступны только в нормальном или полужирном начертании.*/
    font-size: 18px; /*размер шрифта*/
    color: white;
}
.search-form__submit {
    padding: 15px 39px; /*отступы верх,низ лево,право*/
    text-transform: uppercase; /*позволяет все буквы в тексте делать заглавными*/
    font-weight: 500; 
    font-size: 24px;
    color: white;
    background: #1B7DFF;
    border: 0;
}

.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active{
    background: #b4b3fc;
}
/*intro styles end*/

/*intro styles start*/
.benefits {
    margin-bottom: 131px;
}

/* Benefits styles start*/
.benefits__wrap {
    max-width: 1262px;
    background-color: white;
    margin: 0 auto; /* выравнивание по центру */
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative; /*Относительное позиционирование сдвигает элемент относительно его обычного положения. Для того, чтобы применить относительное позиционирование, необходимо указать элементу CSS-свойство position: relative и координаты */
    height: 400px;
}
.benefits__title {
    width: 100%;
    font-weight: 500px;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute; /* это элемент, чьё вычисленное значение position является absolute или fixed . top , right , bottom и left (en-US) задают смещения от краёв содержащего блок элемента . (Содержащий блок является предком, относительно которого расположен элемент.) */
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: white;
}
.benefits__cards {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); /*3, 1fr - 3 штучки с размерами один fr*/
    grid-column-gap: 55px;/*grid-column-gap: отвечает за отступы между колонками*/
    padding: 0 100px;
}
.benefits__card {
    grid-column: span 1; /*картачки будут занимать по одной колонке*/
    margin-bottom: 112px;
}
.benefits__card-pic {
    max-width: 66px;
    margin-bottom: 37px;
}
.benefits__card-thumb {
    display: block; /*у картинок (иконок) если это svg у них всегда есть отступ снизу автоматически, что бы это избежать можно применить флекс либо display: block;*/
}
.benefits__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}
.benefits__card-desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}
.benefits__card-more {
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #7b7f8f;
    text-decoration: none; /*убрал черту*/
    background: url(../img/svg/arrow-right-ico.svg) no-repeat 95% center; /*стрелка двигается на 95% вперед*/
    transition: .2s all; 
}

.benefits__card-more:hover, .benefits__card-more:focus {
    background: url(../img/svg/arrow-right-ico.svg) no-repeat right center; /*стрелка двигается на 95% назад на место*/
}

/* Benefits styles end*/


/* Places styles start*/

.places {
    margin-bottom: 131px;
    }

.places__caption {
    display: flex;
    flex-wrap: wrap; /*для безопасности*/
    align-items: center; /*распологает элемент по центру оси икс как я понял по вертикали*/
    justify-content: space-between; /* чтоб они прибились к разным сторонам блока*/
    margin-bottom: 36px;
}
/*.places__title {
    margin-right: 36px;} 36.16 4е видео удаляит PT когда эллементы сблизятся мы видем неки отступ чтоб они как бы не склеились */

.places__title {
    margin-right: 15px; /* 39.00 4е видео*/
}
.places__view-all{
    font-size: 16px;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
}
.places__view-all:hover, .places__view-all:focus{
    opacity: .65; /* уровень прозрачности в цифрах фокус при наведения как понял  */
}
.places__cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);         /*(6, 1fr) первая цифра 6ть колонок с размером один фр*/
    grid-gap: 10px;
    /*grid-column-gap: 10px; отступы*/
    /*grid-row-gap: 10px; отступы*/
}
.places__card {
    position: relative;
    overflow: hidden; /* что бы при нажатии картачек скил работал не вылазя за пределы контенера*/
}
.places__card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(3, 52, 244, 0.4);
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 2;
}
.places__card:hover .places__card-pic{
    transform: scale(1.05); /* изменяем размер наших изображений при наведение скеил работает но вылезает за пределы контейнера чтоб этого не было пойдем в плесис кард */
}

.places__card-title {
    font-size: 50px;
    line-height: 60px;
    color: white;
    position: absolute;
    bottom: 27px;
    left: 29px; 
    z-index: 3; /*по верх слоя затемнения этот слой поверх и заголовки белые */
}
.places__card_size_lg {
    grid-column: span 3;
}
.places__card_size_sm { 
    grid-column: span 2; /* */
}
.places__card-pic {
    width: 100%;
    transition: .15s all; /*что бы плавно все происходило при на ведении для изображения делаем 0.15 секунды и получается более плавный эффект изменения изображения transform: scale(1.05); */
}
.places__card-pic_size_lg{
    height: 354px;
    object-fit: cover; /*48.59* как изображение будет маштабироваться в данном контейнере.то что оставляет при сжатие картинку видной похоже на своиство бекраунд*/
}
.places__card-pic_size_sm{
    height: 283px;
    object-fit: cover; /*48.59* как изображение будет маштабироваться в данном контейнере.то что оставляет при сжатие картинку видной похоже на своиство бекраунд*/
}
.places__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /*Растягиваем ссылку по ширине контейнера и высоте*/
    height: 100%;
    z-index: 4; /*и зед индексом вытеним на самый верхний слой у нас там было 2-3 сейчас сделаем 4ре*/
}
/*Places styles end*/
/*дошел в 4м до 47.21*/
/*Tours styles start*/

.tours{
    /*display: grid;*/
    margin-bottom: 139px;
}
.tours__tour {
    display: grid;  /*Грид-раскладка (CSS Grid Layout) представляет собой двумерную систему сеток в CSS. Гриды подойдут и для верстки основных областей страницы,*/
    grid-template-columns: repeat(2, 1fr);  /*используем repeat - две коллнки по 1fr,*/
    grid-gap: 0 108px;
    align-items: center; /*аналагичное выравнивание во флексах  по оси игрик по центру*/
    margin-bottom: 77px; /*margin-bottom устанавливает внешний отступ внизу элемента.*/
}
.tour__info {
    padding-left: 47px;
}
.tour__title {
    font-weight: 500px;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}
.tour__desc { /*.tour__desc - обращаемся к тексту */
    /*font-weight: 400;*/
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px; 
}
.tour__more { /*.tour__more - ссылки  */
    font-size: 16px;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
}
.tour__more:hover, .tour__more:focus{
    opacity: .65; /* уровень прозрачности в цифрах фокус при наведения как понял  */
}
/* Tours styles end*/

/* Top places start*/

.top {
    margin-bottom: 86px;
}
.top__title {
    margin-bottom: 54px;
}
.top__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*В CSS Grid Layout появилась единица измерения под названием Fr. Fr — дробная единица гибкости. 1fr равна 1 части доступного пространства.как я понял например одна колонка. Благодаря fr вам больше не нужно пересчитывать ширину разделов  template - шаблон 
    т.е у нас три колонки и каждый эллемент будет занимать одну колоночку.*/
    grid-gap: 57px;
    /* grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 57px; /*grid-column-gap: - это своиствоотвечает за столбец колонку как бы колумн от сюда*/
    /* grid-row-gap: 57px;*/ /*row - строка*/
    
}
.top__card-pic {
    position: relative; /*position: relative, он остается в нормальном потоке. Но при помощи свойств расположения вы можете его сдвинуть.*/
    margin-bottom: 45px;
    /*grid-column: span 2;*/
}
.top__card {
    display: flex;
    flex-direction: column; /*flex-direction: column; позволяет изменить отображение кнопки при различных высотах контента его количестве текста итд.*/
    /*grid-column: span 2;*/
}
.top__card-stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    padding: 16px 25px;
}
.top__card-title{
    /*display: flex;
    flex-wrap: wrap;
    align-items: center;*/
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    margin: 0 auto 0 0;
}
.top__card-likes {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding-right: 20px;
    background: url(../img/Heart-ico.svg) no-repeat right; /*устанавливаем иконку черз беграунд, так как через псевдо эллемент дольше*/ /*background-size - не указываем так как размер иконки подходт и так*/
    margin-right: 14px;
}
.top__card-comments {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding-right: 23px;
    background: url(../img/comment-ico.svg) no-repeat right;
}
.top__card-desc {
font-size: 16px;
line-height: 24px;
margin-bottom: 31px;
}
.top__card-more {
    width: 118px;
    padding: 12px 19px; /*верх,низ 12. право, лево 19*/
    background: #006DFE;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin: auto 0 0 0; /*верх ауто остальное по нулям- что прибевает кнопку к противоположеонй стороне так же было выше с названием картачки в нижнем меню где сердечко итд название прибилось противоположно при марджин райт 0 0 0  оно в лево ушло*/
}
.top__card-more:hover, .top__card-more:focus, .top__card-more:active{
    background: #b4b3fc;
}
/* Top places styles end*/

/*Videos styles start*/

.videos {
    width: 100%;
    margin-bottom: 31px;
}
.videos__wrapper{
    max-width: 1440px; /*максимальная ширина 1140px*/
    margin: 0 auto; /*выравнивание по центру*/
    position: relative; /*относительно врепера влияю на видео, чтоб оно сверху в низ ушло*/
}
 .video__item{
    padding-top: 56.25%; /*елиб указали 100% то максимально под ширину блока 1140px
    так же здесь решается пропорция 16 к 9 ти на всех экранах соответственно 16 это 100% а 9 икс мы 9/16*100 то получим значение 56.25% - т.е это соотношение сторон по сути 16 к 9вяти т.е видео растянулось на 56.25% на 15й минуте*/
 }
.video__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/*Videos styles end*/ 

/*Footer styles start*/ 

.footer{
    background: #0E1D28;
    padding: 119px 0;/*если Footer и хедер на этом сайте сделать в ширину видео то будет одношерийный моно шерийный лейдинг - но здесь по макету футр и хедер во всю ширину а видео ограничиваем на 1440px*/ 
}

.footer__item {
    display: flex;
    flex-wrap: wrap;
}

.footer__logo {
    width: 50%;
}
.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}
.footer__menu-title {
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.footer__menu-link{
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active{
    opacity: .75;
}

/*Footer styles end */


/* Media start */
/* Media запрос необходим что бы при задавании необходимой ширены экрана выходил бургер эллемент - вообще весь адаптив строится на том что пишется медио запрос на ширину экрана в зависимости от того какая ширина можно видо изменить наш эллемент переписав для него стили на этом конкретном разрешении.*/
@media screen and (max-width: 960px) {
    .benefits {
        margin-bottom: 75px;
    }
    .benefits__card {
        margin-bottom: 60px;
    }
    .search-form__field {
        margin-bottom: 25px;
    }
    .benefits__cards {
        padding: 0 15px;
        grid-column-gap: 35px; /* grid-gap определяет промежуток между строками и между колонками. Это сокращенная форма записи для следующих свойств: grid-row-gap. grid-column-gap. column-gap устанавливает промежуток (интервал (en-US)) между колонками */ 
    }
    .benefits__title {
        padding: 55px 15px;
    }
    .benefits__wrap {
        box-shadow: none;
    }
    .places__card_size_lg {
        grid-column: span 6;
    }
    .places__card_size_sm {
        grid-column: span 6;
    }
   .tours__tour {
        grid-column-gap: 35px;
    } /*grid-gap: 0 108px;*//*декстопная версия это без адаптива как бы т.е без медио*/
    .tour__info {
        padding-left: 0;
    }
    .tour__title {
        margin-bottom: 15px;
    }
    .tour__desc {
        margin-bottom: 15px;
    }
    .top__cards {
        grid-column-gap: 25px;
        grid-row-gap: 55px;
    }
    .top__card {
        grid-column: span 3; /*Параметр span указывает, сколько ячеек надо объединить*/
    }
    .top__card-pic{
        margin-bottom: 25px;
    }
    .footer {
        padding: 60px 0px;
    }
}

@media screen and (max-width: 767px) {/*(max-width: 767px) - если размер экрана больше 766 то бургер не высвитится если мение то сработают стили 500. а также, Т.е на этом разрешении экрана мы переопрееляем какие то своиства, которые мы объявляли -  для десктопной версии. Адаптив мы делаем при помощи Медио запросы вот здесь в css @media screen and (max-width: 767px) и в низ */
    .section-title { 
        margin-bottom: 25px;
    }
    .section-title::after {
        width: 78px;
    }
    .header__burger {
        display: block; /*(max-width: 767px) - если размер экрана больше 766 то бургер не высвитится если мение то сработают стили дисплей блокт позволяет не высвечиваеться на десктопной версии как я понял бургеру*/
    }
    .header__wrapper {
        padding-top: 28px;
    }
    .header__nav {
        width: 100%;
        height: 100%;
        position: fixed; /* fixed потому что будем позицианировать наше меню относительно всего нашего экрана фиксированный элемент остаётся на своём месте и не прокручивается вместе со страницей
         -абсалют выравнивает относительно родителя у которого к примеру релейтив а position: fixed; всегда выравнивает относительно экрана*/
        top: 0;
        left: 0;
        background-color: #000;
        z-index: 10; /* z-index: 10; то что позволяет перекрывать все в том числе бургер все это мы делаем для дектопной версии - для работы без интернета автономно как я понял*/
        padding: 75px;
        transform: translateX(100%); /*выкатывание блока справа - если поставить (-100%) минус сто то тогда выкатываться будет с лева*/
        transition: .2s all linear; /*на элемент подвесим transition: чтоб за 2 сек оно выезжало  .2s all linear и обработчик функции будет линейный; плавность выезда за 2 секунды и обработчик функции будет линейный т.е я поня л в горизонте как бы по линии*/
    }
    .header__nav_active {
        transform: translateX(0); /* нажимая на бургер по клику к хедер нев  применяется класс, например хедер нев эктив.  который говорит о том что этот эллемент сейчас находится в состоянии,  активном, и по этому классу мы заранее в стилях предусматриваем состояние которое визуально покажет наш эллемент на странице т.е визуально наш эллемент выйдет справа, т.е мы как бы отменим вот этот транслейт в .header__nav transform: translateX(100%);см выше на одну и поставим в .header__nav-active - {
            transform: translateX(0); икс о тогда  */
    }
    .header__item {
        width: 100%;
        margin-right: 0; /*т.е на этой ширине экрана переопределяем какие то своиства которые мы объявляли для дисктопной версии без наворотов значит дисктоп как я понимаю т.е марджин райт обнуляем хотя в дисктопе я так понял там были другие параметры, а все что под @media screen and (max-width: 767px)  получается уже  не десктоп а преобразование*/
        margin-bottom: 30px;
    }
    .header__item:last-child {
        margin-bottom: 0; /*у последнего эллемента хедер итем обнуляем отступ снизу пишется конструкция .header__item:last-child {
        margin-bottom: 0; и если посмотреть в инспекторе то у всех лишки есть а у последней лишки нету*/
    }    
    .header__link {
        font-size: 42px;
        line-height: 48px;
    }
    .header__nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
    }
    .header__nav-close-line{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .header__nav-close-line:first-child{
        transform: translateY(-50%) rotate(45deg);
    }
    .header__nav-close-line:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }
    .intro {
        padding-top: 125px
    }
    .intro__title {
        font-size: 32px;
        line-height: 48px;
    }
    .intro__subtitle {
        font-size: 14px;
    }
    .search-form__field {
        width: 100%;
        margin-right: 0;
        padding-bottom: 12px;
        background: transparent url(../img/svg/Oval.svg) no-repeat left 2px;
    }
    .search-form__field::placeholder {
        font-size: 16px;
    }    
    .search-form__submit {
        width: 100%;
    }
    .benefits {
        margin-bottom: 36px;
    }
    .benefits__card {
        grid-column: span 3;
        margin-bottom: 40px;
    }
    .benefits__card-pic {
        margin-bottom: 20px;
    }
    .benefits__cards-title {
        margin-bottom: 12px;
    }
    .benefits__cards-desc {
        margin-bottom: 20px;
    }
    .places {
        margin-bottom: 76px;
    }
    .places__card-pic_size_lg, .places__card-pic_size_sm {
        margin-bottom: 20px;
    }
    .places__view-all {
        margin-bottom: 25px;
    }
    .places__caption {
        margin-bottom: 0;
    }
    .tours {
        margin-bottom: 70px;
    }
    .tour__pic, .tour__info {
        grid-column: span2;;
    }
    .tour__pic {
        margin-bottom: 12px;
    }
    .tour__pig_mob-first {
        grid-row-start: -1;
    }
    .tours__tour {
        margin-bottom: 50px;
        grid-gap: 0;/**/
    }
    .top {
        margin-bottom: 76px;
    }
    .top__card {
        grid-column: span 6;
    }
    .top__card-stats {
        max-width: 360px;
    }
    .top__card-desc {
        margin-bottom: 15px;
    }
    .footer__logo {
        width: 100;
        margin-bottom: 24px;
    }
    .footer__nav {
        width: 100%;
    }
    .footer__menu {
        width: 50%;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 500px) {
    .header__nav {
        height: 240px; /**/
    }
    
}


/* Media end */

/* Адаптивная верстка, как бы подстраивается под разные устроиства, разные размеры экранов с помощью так называемых брекпоинтов с помощью медио запросов - в тот момент когда ширина экрана подхдит к определенной точки так называемому брек поинту, он срабатывает и ( "ширина нашего контенера становиться уже-то что мы настроем через медио запрос" опять при уменшении экрана когда мы подходим к следующей определенной точки это срабатывает еще раз, а потом еще раз, и наши блоки могут в этот момент перестраиваться, и таким образом, мы можем качественно отобразить, наш контент, в плоть до 320 пикселей до самых - маленьких телефонов) У некоторых адаптивная верстка осациируется с будстрапом и многие думают что адаптивная верстка это будстрап нет совершенно не так в нем прописанна так называемая сетка -  все эти значения брекпоинтов они не случайны, и они сделаны таким образом что бы безопасно отображать контент - на каждом из типе устроиств. мобильные телефон планшеты и пка телефон. Но и мы сейчас напишем ту самую будстрап сетку, и не нужно будет,  абсалютно  не в коем образом  использовать целую большую  библиотеку, либо фреим ворк,

(Bootstrap — это открытый и бесплатный HTML, CSS и JS фреймворк, который используется веб-разработчиками для быстрой вёрстки адаптивных дизайнов.
Фре́ймворк (иногда фреймво́рк; англицизм, неологизм от framework — остов, каркас, рама, структура) — программная платформа, определяющая структуру программной системы; программное обеспечение, облегчающее разработку и объединение разных компонентов большого программного проекта.)

медио запрос

Медиа-запросы — это правила применения CSS, с помощью которых можно менять стиль элементов, отталкиваясь от устройств, на которых будут


Подключение метатега viewport к странице осуществляется так: 
<meta name="viewport" content="width=device-width, initial-scale=1">
Создание медиа-запроса начинается с ключевого слова @media после которого указывается одно или несколько условий. В качестве условия можно указывать тип устройства или требования к определённой характеристике. Требование к определённой характеристике записывается в круглых скобках.
Более подробно можно прочесть здесь на 2й примерно страници ссылки - https://itchief.ru/html-and-css/media-queries*/